.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.gif_container {
  margin: 40rem 40rem;
}
.loading_gif {
  width: 5rem;
  height: 5rem;
}
.error {
  text-align: center;
  font-size: 3rem;
}
.posts_title {
  font-size: 3rem;
  text-align: center;
}
